<div class="container-fluid">
<img src="{{asset('images/Banniere.png')}}" class="img-responsive">
<nav class="navbar navbar-inverse" >

        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('panier.showAccueilClient') }}">Site de vente logiciel</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"> <a href="{{ path('panier.showAccueilClient') }}"> Acceuil</a> </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Logiciels
                    <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('produit.sale')  }}">Afficher les logiciels</a> </li>
                    <li><a href="{{ path('produit.search')  }}">Rechercher un logiciel</a> </li>
                    <li><a href="{{ path('produit.last')  }}">Dernier logiciel vue</a> </li>
                </ul>
            </li>
            <li><a href="{{ path('panier.showPanierUser') }}"> Panier</a> </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href=""> Commandes
                    <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('commande.showUser') }}">Mes commandes</a> </li>

                </ul>
            <li><a href="{{ path('user.updateUser') }}" ><span class="glyphicon glyphicon-cog"></span> Gestion de compte </a></li>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if   app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
                <li class="nameUser" style="color: gold"> Bonjour {{ app.session.get('login') }}</li>
                <li><a href="{{ path('user.logout')  }}"><span class="glyphicon glyphicon-log-in"></span> Déconnexion</a></li>
            {% else %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> S'inscire</a></li>
                <li><a href="{{ path('user.login')  }}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
            {% endif %}
        </ul>

</nav>
</div>


