{% extends "layout.html.twig" %}
{% block contenu %}


<div class="container">
	<div class="col-xs-12 table-responsive">

		<table class="table-bordered">
			<legend> Logiciels en ventes </legend>

			<tr>
                {% set i=0 %}
                {% for produit in data if data is not empty %}
                {% if i  is divisible by(5) %}
			<tr>
                {% endif %}
				<td>
                    {% set i=i+1 %}
					<table class="table table-hover table-responsive">
						<tr>
							<td><a href="{{ path('produit.describe', {id: produit.id})}}"><img style="width:100px;height:100px" src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.nom}}" ></a>
								<br><br>{{produit.nom}}</td>
						</tr>
					</table>
				</td>
                {% if i  is divisible by(5) %}
			</tr>
            {% endif %}
            {% endfor %}
		</table>
	</div>
</div>
{% endblock %}

