{% extends "layout.html.twig" %}
{% block contenu %}
<form method="post" action="{{ path('client.validFormDelete') }}">

	<input name="token"  type="hidden"  value="{% if token is defined %}{{ token }}{% endif %}"/>

<div class="container">

		<legend>Confirmer la suppression du client suivant :</legend>

		<input name="id"  type="hidden" value="{{client.id}}" />
		<table class="table">
			<tbody>
			<tr>
				<td>{{client.nom}}</td><td>{{client.login}}</td><td>{{client.email}}</td>
			</tr>
			</tbody>
		</table>
		<input type="hidden" id="_method" name="_method" value="delete" />
		<input type="submit" name="supprimerClient" value="Supprimer" class="bouttonDetails" style=" margin-left: 50px;"/>

</div>
</form>
{% endblock %}
