{% extends "layout.html.twig" %}
{% block contenu %}

    <div class="container">
        <legend> Vos commandes </legend>

        {% for commande in commandes if commandes is not empty %}
            <label class="recapCommande">Commande n° {{ commande.id }} du {{ commande.date_achat }} de {{ commande.prix }}€, État = {% if commande.libelle=='A préparer' %} {{ commande.libelle }} <img style="width: 10px; height: 10px;" src="{{asset('images/BouttonRouge.png')}}">
            {% elseif commande.libelle=='Expédié'  %} {{ commande.libelle }} <img style="width: 10px; height: 10px;" src="{{asset('images/BouttonVert.png')}}">
                {% endif %}
            </label>

            <table class="table  table-responsive">


                <caption>Liste des produits commandés</caption>
                <thead>
                <tr><th>Photo</th><th>Nom</th><th>Quantite</th></tr>
                </thead>
                <tbody>
                {% for panier in paniers if paniers is not empty %}
                    {% if panier.commande_id == commande.id %}
                    <tr>
                        <td>
                            <img style="width:40px;height:40px" src="{{asset('images/')}}{{panier.photo}}" alt="image de {{panier.nom}}" >
                        </td>
                        <td>{{ panier.nom }}</td><td>{{panier.quantite}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tbody>
            </table>

            <br><br><br>

        {% endfor %}


    </div>
{% endblock %}